<footer>
  <div class="footer-container">
    <div class="footer-text">
      <p>
        Powered by
        <a target="_blank" href="https://angular.dev/">
          <span><fa-icon [icon]="faAngular" size="2xl"></fa-icon>ngular</span>
        </a>
      </p>
      •
      <a
        target="_blank"
        href="https://github.com/brysonbw/angular-contact-manager"
      >
        <fa-icon class="github-icon" [icon]="faGitHub" size="2xl"></fa-icon>
      </a>
      •
      <p>{{ '@' }}{{ currentYear }}</p>
    </div>
  </div>
</footer>
