.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 16px;
  margin-top: 20px;
}

.card {
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--default-border-color);
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.contact-name {
  font-weight: 700;
  color: var(--white);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  font-size: 0.95rem;
}

button.contact-info > fa-icon {
  margin-right: 2px;
}

button.contact-info {
  cursor: default;
}

button.contact-info:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
